.nav_container {
  /* background-image: linear-gradient(to right, #a64eee 0%, #3c35ce 100%); */
  padding: 0 130px;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.nav_menu {
  list-style: none;
  margin: 0;
}
.nav_item {
  padding: 38px 40px;
  display: flex;
}
.nav_link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.nav_link:hover {
  color: #fff;
}
