.intro_container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.intro_img {
  width: 100%;
  height: auto;
}
.intro_content h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 700;
}
.intro_content p {
  color: #eeeeee;
  font-size: 20px;
  font-weight: 400;
}
